hr {
    margin: 0;
}

.rodape {
    background-color: var(--cor-branco);
    padding: 1em;
}

.lista-rodape {
    display: none;
}

@media screen and (min-width: 1024px) {
    .rodape {
        display: flex;
        justify-content: space-around;
    }

    .lista-rodape {
        display: block;
    }

    .lista-rodape__item {
        display: flex;
        align-items: center;
        margin: 0.7em 0;
    }

    .lista-rodape__link {
        color: var(--cor-cinza);
        text-decoration: none;
        margin-left: 0.6em;
    }

    .lista-rodape__titulo {
        font-size: 16px;
        color: var(--cor-cinza-claro);
        text-transform: uppercase;
    }

    .rodape__titulo {
        font-size: 24px;
        font-weight: 700;
    }
}